
<form class="form-horizontal" [formGroup]="frmDrawingFormGroup" name="triangularForm">
<div class="panel-group PanelTop">

  <div class="panel panel-default">
    <span><b>Input Format:</b>  Draw a(n) [shape]  with a(n) [measurement] of [amount] (and a(n) [measurement] of
      [amount] )</span>
  </div>
    <div class="panel panel-primary">
    <div class="panel-heading">Triangle Request</div>
    <div class="panel-body">
        <div class="form-group">
          <label class="control-label col-sm-2" for="triangular">Triangular Request:</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="triangular" placeholder="Please type triangular request in word" required="required" [(ngModel)]="inputDataRequest" formControlName="triangularRequestCtrl">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" (click)="ProcessData()">Process</button>
          </div>
        </div>
    </div>
  </div>
  <div class="panel panel-default">
       <div id="jxgbox" class="jxgbox" style="width:100%; height:600px">
       </div>
  </div>

</div>
</form>
